.container--login {
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

.login--field { 
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    margin-top: 10px;
    border-radius: 5px;
}

.form-control {
    height: 30px !important;
    width: 350px;
}

.loginTitle { 
    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.loginbutton {
    height: 35px !important;
    width: 358px;
    background-color: #04C35C;
    color: white;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
}